#header-con {
    height: 100px;
}

#hero {
    height: 600px;
}

#info-image-1 {
    height: 400px;
}

#info-image-2 {
    height: 400px;
}

#info-image-3 {
    height: 400px;
}

#testimonials {
    height: 300px;
}

#about {
    height: 600px;
}

#footer-con {
    height: 100px;
}